main {
    width: 500px;
    padding-left: 20px;

}

form {
    border: solid black 4px;
    padding: 15px;
    width: 100%;
    background-color: white;
}

h1 {
    width: 580px;
    padding-bottom: 10px;
    background-color: #e6ffff;
    padding-left: 5px;
}

body {
    width: 100%;
    justify-content: center;
    background-color: #669999;

}

input {
    margin: 10px;
}

#submitField {
    background-color: #e6ffff;
    width: 580px;
    margin: 10px;

}

#myModal {
    background-color: #e6da00;
    position: absolute;
    top: 95px;
    left: 32px;
    width: 530px;
    height: 1120px;
    display: none;

}

.modal-title {
    font-size: 70px;
    position: relative;
    display: flex;
}

.modal-body {
    padding-left: 15px;

}